.intro {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  text-align: left;
  padding: 5px;
}

.about {
  background: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  // width: 100vw;
  // height: 100vh;
  margin-bottom: 100px;
  z-index: -1;
  p{
    text-align: justify;
  }
}

.person {
  width: 800px;
  padding: 70px 0 0 0;
  min-height: 200px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
}
.person-badge {
  width: 200px;
  height: 280px;
  border-radius: 0 0 100px 100px;
  overflow: hidden;
  transform: rotate(0deg); /* To force its own layer */
  position: absolute;
  top: 0;
  left: 0;
}
.person-badge:before,
.person-badge:after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
  width: 200px;
  height: 200px;
  background: #ddd;
  background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
  transition: 500ms;
}
.person-badge:after {
  background: linear-gradient(to top, #f88 0%, #eee 100%);
  opacity: 0;
}
.person:nth-child(2) .person-badge:after {
  background: linear-gradient(to top, #5ab 0%, #eee 100%);
}
.person:nth-child(3) .person-badge:after {
  background: linear-gradient(to top, #fc0 0%, #eee 100%);
}
.person-badge:hover:after {
  opacity: 1;
}

.person-badge img {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 500ms;
}
.person-badge img.peculiar {
  opacity: 0;
  transform: translateY(80px);
}

.person-badge:hover img.normal {
  opacity: 0;
  transform: translateY(80px);
}
.person-badge:hover img.peculiar {
  opacity: 1;
  transform: translateY(0);
}

.person h3 {
  margin: 0;
  font-weight: 200;
  font-size: 28px;
}

strong {
  color: #888;
  margin: -5px 0 5px 0;
  display: block;
  font-size: 0.8em;
}


// .person

.person-icon{
  // object-fit: cover;
  // width: 1000px;
  // height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

    &:hover{
      opacity: 0.6;
    }
  }
}


.personQuote{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  // body {
  //   background-color: lightblue;
  // }
  .person{
    flex-direction: column;
    width: 100%;
    // margin: 20px;
  }

  // .person-icon{

  // }
}


.intro h1{
  text-align: center;
}

.personContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: justify;
}